<form action="/" method="POST">
  <h1 class="title text-center">URL Shortener</h1>

  <div class="container d-flex justify-content-center">
    <div class="form-row col-lg-10 d-flex justify-content-center">
      <div class="form-field col-lg-8">
        <input type="text" id="input" name="url" placeholder="Enter URL here">
      </div>
      <div class="form-field col-lg-6 d-flex justify-content-center">
        <button class="submit-btn" type="submit">shorten</button>
      </div>
    </div>
  </div>

</form>